/* Card Colors */
$blue: #499DF3;
$red: #FF4A00;
$neutral: #FFC43E;
$black: #5F6C72;
$revealed: #13D0AB;
$unknown: beige;

/* Variables */
$fonts: sans-serif;
$base_font_size: 16px;

body {
  font-family: $fonts;
  background-image: url('http://www.iqimila.com/assets/fullimage/light-wood-grain-texture-plugsqixij4rvqz6.jpg');
  background-attachment: fixed;

  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 0; margin: 0;

  font-size: $base_font_size;
}

input { font-size: $base_font_size; }

.board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  position: absolute;
  bottom: 5px;
  left: 1%;
  right: 1%;
  top: 48px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  position: absolute;
  left: 1%;
  right: 1%;
  top: 4px;
}

/* Card Styles */
.card {
  display: flex;
  flex: 0 0 19%;
  justify-content: center;
  align-items: center;
  height: 15%;
  background-color: $unknown;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.card span { display: none }
.card.revealed.spymaster span { display: inline; padding-left: 5px; }

.revealed, .spymaster, span.blue, span.red {
  color: white;
}
.revealed.blue, .spymaster.blue, span.blue { background-color: $blue; }
.revealed.red, .spymaster.red, span.red { background-color: $red; }
.revealed.neutral, .spymaster.neutral { background-color: $neutral; }
.revealed.black, .spymaster.black {background-color: $black;}

$lighter: 25%;

.revealed.spymaster.blue { background-color: lighten($blue, $lighter); }
.revealed.spymaster.red { background-color: lighten($red, $lighter); }
.revealed.spymaster.neutral { background-color: lighten($neutral, $lighter); }
.revealed.spymaster.black { background-color: darken($black, $lighter); }

.revealed.spymaster { background-color: #969EA2; }

/* Pill Shape */
span.blue, span.red {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 10px;
}
